.App {
  text-align: center;
}
.MakePost {
  margin: 0px auto;
  width: 406px;
}
.MakePost p {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100px;
  vertical-align:top;
}
.MakePost input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  padding: 1px;
}
.MakePost button {
  padding: 5px;
  width: 100px;
}
.MakePost textarea {
  width: 300px;
  height: 60px;
}
.PostList {
  max-height: 500px;
  overflow: auto;
}
.Post {
  width: 508px;
  margin: 0 auto;
}
.Post h4 {
  margin-bottom: 5px;
}
.Post p {
  margin: 5px auto;
  max-height: 150px;
  overflow: auto;
}
